<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'books/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <title>{{ book.title }}</title>
    </head>
    <body>
        <div class="row header">
            <div class="col-10">
                <h1>Welcome, <a href="/users/{{ request.session.id }}">{{ request.session.name }}</a></h1>
            </div>
            <div class="col-2">
                <a href="/books">Home</a> | <a href="logout">Logout</a>
            </div>
        </div>
        <div class="row white">
            <div class="col-6">
                <h3>{{ book.title }}</h3>
                <div class="content">
                    <p><span class="label">Author: </span>{{ book.author.first_name }} {{ book.author.last_name }}</p>
                    {% for review in reviews reversed %}
                        <p><span class="label">Rating: </span>
                        {% if review.rating is 5 %}
                            <span class="star checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span>
                        {% endif %}
                        {% if review.rating is 4 %}
                            <span class="checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span><span class="empty">&#9733</span>
                        {% endif %}
                        {% if review.rating is 3 %}
                            <span class="checked">&#9733</span><span class="checked">&#9733</span><span class="checked">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span>
                        {% endif %}
                        {% if review.rating is 2 %}
                            <span class="checked">&#9733</span><span class="checked">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span>
                        {% endif %}
                        {% if review.rating is 1 %}
                            <span class="checked">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span><span class="empty">&#9733</span>
                        {% endif %}
                        </p>
                        <p><span class="label"><a href="/users/{{ review.user.id }}">{{ review.user.alias }}</a> says: </span>{{ review.content }}</p>
                        <p><span class="label">Posted On: </span>{{ review.created_at }} 
                            {% if review.user.id == request.session.id %}
                            |   <a href="/books/delete/review/{{ review.book.id }}">Delete this Review</a>
                            {% endif %}</p>
                        </p>
                    {% endfor %}
                </div>
            </div>
        <div class="col-6">
            <h3>Add a Review:</h3>
            <form action="/books/{{ book.id }}/create_review" method="post">
            {% csrf_token %}
            <textarea name="review" cols="30" rows="10" placeholder="Review content"></textarea><br>
                <label for="rating">Rating: </label>
                <select name="rating" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>
                <input type="submit" name="submit" value="Submit Review" class="submit">
            </form>
        </div>
    </body>
</html>