<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ user.first_name }} {{ user.last_name }} | {{ user.alias }}</title>
    </head>
    <body>
        <div id="header">
            <h1>Welcome <a href="/users/{{ request.session.id }}">{{ request.session.name }}</a></h1>
            <a href="/books">Home</a> | <a href="logout">Logout</a>
        </div>
        <div id="left">
            <h3>User Alias: {{ user.alias }}</h3>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Total Reviews: {{ total_reviews }}</p>

            <h4>Posted Reviews on the following books:</h4>
            {% for book in reviewed_books %}
                <p><a href="/books/{{ book.book.id }}">{{ book.book.title }}</a></p>
            {% endfor %}
        </div>
    </body>
</html>